/* Color Variables */

$black: #000;
$black-transparent: rgba(0, 0, 0, 0.448);
$black-light: rgb(123, 123, 123);
$beige: rgba(190, 191, 178, 0.3);
$grey: #333;
$grey-light: #333;
$white: #ffffff;

$socialColors: (
  whatsapp: #075e54,
  instagram: #b01498,
);
